body .search-container {
  width: calc(100% - 10px);
}

/* main section styles */
.main {
  background-color: var(--dark);
  color: var(--lightwhite);
}

.main > div:first-child {
  height: 50px;
  margin-bottom: 20px;
}

.main .city-container {
  display: flex;
  margin-bottom: 15px;
}

.main .city-container > * {
  transition: width 0.4s;
}

.main .city {
  flex: 1 1 auto;
  background-color: var(--lightdark);
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 20px 35px;
  text-align: left;
  font-size: var(--generalfontsize);
}

.main .city:hover {
  border: 1px solid var(--lightblue);
}

.main .city img {
  width: 80px;
  height: 80px;
  margin-right: 35px;
}

.main .city .degrees {
  text-align: right;
  flex: 1 1 auto;
  font-weight: 600;
  font-size: var(--largefontsize4);
  align-self: self-start;
}

.main .city .description {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: var(--lightgray);
}

.main .city .description .city-name {
  font-weight: 700;
  font-size: var(--generalfontsize);
  color: var(--lightwhite);
  text-transform: uppercase;
  display: flex;
  gap: 5px;
}

.main .city .description i {
  display: none;
}

.main .city:hover .description i {
  display: block;
  font-size: var(--largefontsize1);
  font-weight: 600;
  color: var(--lightwhite);
  margin-left: 10px;
}

.main .city-container .delete {
  width: 0;
  opacity: 0;
  margin-left: 20px;
}

.main .city-container:hover .delete {
  background-color: rgb(160, 60, 40);
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: var(--largefontsize3);
  opacity: 1;
  color: white;
}

/* right side */
main .forecast {
  display: grid;
  grid-template-rows: 30% 30% 40%;
  padding: 0 20px 0;
  background-color: var(--dark);
  margin-left: -10px;
  z-index: -1;
}

main .forecast > div {
  border-bottom: var(--lineborder);
  background-color: var(--dark);
}

main .forecast > div:last-child {
  border-bottom: none;
}

.current-city {
  padding: 0;
}

.current-city img {
  width: 120px;
  height: 120px;
}

.today-forecast {
  border-radius: 0;
}

.today-forecast .header {
  padding-left: 0px;
}

.today-forecast .time-sections {
  grid-template-columns: repeat(3, 1fr);
}

.week-forecast {
  padding: 20px 0;
}

@media (max-width: 1024px) {
  main .forecast {
    display: none;
  }
}

@media (max-width: 768px) {
  body .search-container {
    display: block;
  }

  .main .city-container .delete {
    margin-left: 10px;
  }

  .main .city {
    padding: 20px;
  }

  .main .city .description {
    gap: 15px;
    font-size: var(--largefontsize1);
  }

  .main .city img {
    display: none;
  }

  .main .city-container:hover .delete {
    width: 100px;
    font-size: var(--largefontsize3);
  }
}
