/* main styles */
.main {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 45px 26% 63%;
  align-content: space-between;
  background-color: var(--dark);
}

.main > .header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--largefontsize1);
  font-weight: 700;
  width: 100%;
  height: 100%;
  position: relative;
  color: var(--lightgray);
}

.main > .header a {
  position: absolute;
  left: 20px;
}

.main > .header i {
  color: var(--lightwhite);
}

/* grid styles */
.main .grid {
  display: grid;
  gap: 15px 20px;
  grid-template-columns: 1fr 1fr;
}

.main .grid .condition {
  border-radius: 15px;
  background-color: var(--lightdark);
  display: flex;
  gap: 15px;
  padding: 20px 25px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
}

.main .grid .condition .description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main .grid .condition .description p:first-child {
  font-size: var(--smallfontsize2);
}

.main .grid .condition .measure {
  color: var(--lightwhite);
  text-transform: lowercase;
}

/* forecast styles */
.forecast {
  background-color: var(--dark);
  display: grid;
  grid-template-rows: 29% 69%;
  align-content: space-between;
}

.today-forecast .time-sections {
  grid-template-columns: repeat(3, 1fr);
}

.week-forecast {
  padding-top: 20px;
}

/* media queries */
@media (max-width: 500px) {
  .current-city img {
    height: 100px;
    width: 100px;
    border: 2px solid red;
  }

  .main {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .current-city {
    padding: 30px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .current-city .city {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .main .grid {
    gap: 10px;
  }

  .main .grid .condition {
    padding: 20px;
  }

  .main .grid .condition i {
    display: none;
  }
}
