/* working with main section */
.main {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 44px 27% 27% 33%;
  align-content: space-between;
  background-color: var(--dark);
}

.current-city {
  padding: 0 20px;
  padding-left: 40px;
  display: grid;
  grid-template-areas:
    "city image"
    "degrees image";
  /* border: 1px solid green; */
}

.current-city > * {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
}

.current-city .city {
  grid-area: city;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.current-city .cityname {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--lightwhite);
  text-transform: capitalize;
}

.current-city .city p:last-child {
  color: var(--lightgray);
  letter-spacing: 0.05px;
}

.current-city .degrees {
  grid-area: degrees;
  justify-content: flex-start;
  font-size: 2rem;
  font-weight: 700;
  color: var(--lightwhite);
}

.current-city .image {
  grid-area: image;
  justify-content: center;
}

.current-city img {
  width: 120px;
  height: 120px;
}

.today-forecast {
  background-color: var(--lightdark);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: left;
  font-size: 0.6rem;
  color: var(--lightgray);
  font-weight: 700;
}

.today-forecast .header {
  padding-left: 30px;
}

.today-forecast .degrees {
  color: var(--lightwhite);
  font-size: 0.85rem;
}

.time-sections {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.time-sections .section {
  background-color: var(--lightdark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  border-right: 1px solid var(--linecolor);
}

.time-sections .section:last-child {
  border-right: none;
}

.air-conditions {
  background-color: var(--lightdark);
  border-radius: 15px;
  padding: 15px 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  font-size: 0.8rem;
  font-weight: 600;
}

.air-conditions a {
  background-color: var(--lightblue);
  padding: 6px 13px 6px;
  border-radius: 11px;
}

.air-conditions .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.6rem;
  font-weight: 700;
  color: var(--lightgray);
  /* border: 2px solid green; */
}

.air-conditions .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  color: var(--lightgray);
}

.air-conditions .grid i {
  font-size: 1rem;
}

.air-conditions .grid .condition {
  text-align: left;
  display: flex;
  gap: 10px;
}

.air-conditions .grid .measure {
  color: var(--lightwhite);
  font-size: 1rem;
  font-weight: 700;
}

/* week-forecast styles */
.week-forecast {
  padding: 20px 30px 10px;
  text-align: left;
  color: var(--lightgray);
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
}

.week-forecast .header {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 0.6rem;
  transform: translateY(3px);
}

.week-forecast .day {
  display: grid;
  grid-template-columns: repeat(3, calc(100% / 3));
  justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;
  border-bottom: var(--lineborder);
}

.week-forecast .day:last-child {
  border: none;
}

.week-forecast .day > p:first-child {
  font-size: 0.8rem;
}

.week-forecast .day .weather {
  display: flex;
  gap: 20px;
  line-height: 0.9rem;
  font-size: 0.6rem;
  align-items: center;
}

.week-forecast .day .weather,
.week-forecast .day span {
  color: var(--lightwhite);
  font-weight: 700;
}

.week-forecast .day > p:last-child {
  text-align: right;
  letter-spacing: 0.08rem;
  font-size: 0.65rem;
}

.week-forecast .day img {
  width: 30px;
  height: 30px;
}

/* dealing with responsiveness */
@media (max-width: 500px) {
  .main {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: auto;
  }

  .today-forecast {
    display: block;
    padding: 20px 10px 10px;
  }

  .today-forecast .header {
    padding-left: 15px;
    margin-bottom: 5px;
  }

  .time-sections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 15px 0;
  }

  .current-city {
    padding: 20px 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
  }

  .current-city .city {
    flex-direction: column;
    align-items: center;
  }

  .air-conditions {
    padding: 15px 25px 20px;
    gap: 20px;
  }

  .week-forecast .day .weather {
    gap: 10px;
  }
}
