/* working with main section */
.main {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 44px 27% 27% 33%;
  align-content: space-between;
  background-color: var(--dark);
}

.current-city {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  padding-right: 90px;
}

.current-city .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  font-size: 0.8rem;
  color: var(--lightgray);
}

.current-city .large {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--lightwhite);
  margin-bottom: 3px;
}

.current-city .degrees {
  font-size: 2rem;
  font-weight: 700;
  color: var(--lightwhite);
}

.current-city .right {
  align-content: center;
}

.current-city img {
  width: 120px;
  height: 120px;
}

.today-forecast {
  background-color: var(--lightdark);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: left;
  font-size: 0.6rem;
  color: var(--lightgray);
  font-weight: 700;
}

.today-forecast .header {
  padding: 0 30px;
}

.today-forecast .degrees {
  color: var(--lightwhite);
  font-size: 0.9rem;
}

.time-sections {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1px;
  background-color: var(--darkbluelinecolor);
  /* border: 2px solid red; */
}

.time-sections .section {
  background-color: var(--lightdark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.air-conditions {
  background-color: var(--lightdark);
  border-radius: 15px;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  font-size: 0.8rem;
  font-weight: 600;
}

.air-conditions a {
  background-color: var(--lightblue);
  padding: 6px 13px 6px;
  border-radius: 11px;
}

.air-conditions .header {
  display: flex;
  justify-content: space-between;
  font-size: 0.6rem;
  font-weight: 700;
  color: var(--lightgray);
  /* border: 2px green solid; */
}

.air-conditions .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  color: var(--lightgray);
}

.air-conditions .grid i {
  font-size: 1rem;
}

.air-conditions .grid .condition {
  text-align: left;
  display: flex;
  gap: 10px;
}

.air-conditions .grid .measure {
  color: var(--lightwhite);
  font-size: 1.2rem;
  font-weight: 700;
}

/* week-forecast styles */
.week-forecast {
  padding: 20px 30px 10px;
  text-align: left;
  color: var(--lightgray);
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
}

.week-forecast .header {
  font-size: 0.6rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.week-forecast .day {
  display: grid;
  grid-template-columns: repeat(3, calc(100% / 3));
  justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;
  border-bottom: var(--darkbluelinecolor) 1px solid;
}

.week-forecast .day:last-child {
  border: none;
}

.week-forecast .day .weather {
  display: flex;
  gap: 20px;
}

.week-forecast .day .weather,
.week-forecast .day span {
  color: var(--lightwhite);
  font-weight: 700;
}

.week-forecast .day > p:last-child {
  text-align: right;
}

.week-forecast .day img {
  width: 30px;
  height: 30px;
}
