/* working with main section */
.main {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 44px 27% 27% 33%;
  align-content: space-between;
  background-color: var(--dark);
}

.air-conditions {
  background-color: var(--lightdark);
  border-radius: 15px;
  padding: 15px 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-weight: 600;
}

.air-conditions a {
  background-color: var(--lightblue);
  padding: 6px 13px 6px;
  border-radius: 11px;
}

.air-conditions .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--smallfontsize2);
  font-weight: 700;
  color: var(--lightgray);
}

.air-conditions .grid {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 15px 0;
  color: var(--lightgray);
}

.air-conditions .grid .condition {
  text-align: left;
  align-items: center;
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-template-areas:
    "icon description"
    "icon measure";
  justify-content: start;
  align-content: start;
  gap: 7px 3px;
}

.air-conditions .grid .condition i {
  grid-area: icon;
  align-self: self-start;
  justify-self: center;
  padding-top: 5px;
}

.air-conditions .grid .condition .description {
  grid-area: description;
}

.air-conditions .grid .condition .measure {
  grid-area: measure;
  color: var(--lightwhite);
  font-weight: 700;
}

/* media queries */
@media (max-width: 1024px) {
  .main {
    all: revert;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .header {
    margin-bottom: 15px !important;
  }

  .main .today-forecast {
    padding: 20px 0;
  }

  .main .air-conditions .grid {
    gap: 30px 20px;
  }

  .week-forecast .day {
    padding: 10px 0 !important;
  }
}

@media (max-width: 768px) {
  body .search-container {
    display: none;
  }

  .air-conditions {
    font-size: var(--generalfontsize);
    padding: 15px 25px 20px;
    gap: 25px;
  }

  .air-conditions .grid {
    gap: 25px 20px;
  }

  .air-conditions i {
    padding-top: 1px;
  }

  .air-conditions .header {
    font-size: var(--smallfontsize2);
  }

  .air-conditions .condition .description {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .today-forecast .time-sections {
    grid-template-columns: repeat(3, 1fr);
  }

  .today-forecast .time-sections > :nth-child(3) {
    border: none;
  }
}
