.main,
.cities {
  background-color: var(--dark);
}

.main > div:first-child {
  height: 45px;
  margin-bottom: 20px;
}

/* customizing map and popups on it */
#map {
  background-color: var(--lightdark);
  border-radius: 20px;
  height: calc(100% - 70px);
  overflow: hidden;
}

.leaflet-control {
  border-radius: 10px !important;
  border: 1px solid var(--lightgray) !important;
  overflow: hidden;
}

.leaflet-control-zoom > * {
  background-color: var(--dark) !important;
  color: var(--lightwhite) !important;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background-color: var(--dark) !important;
}

.leaflet-popup-content-wrapper {
  color: var(--lightwhite) !important;
  padding: 10px 20px !important;
  font-size: 0.8rem;
}

.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.popup * {
  margin: 0 !important;
}

.popup p:first-child {
  text-transform: capitalize;
}

.popup img {
  width: 40px;
  height: 40px;
}

.leaflet-popup-close-button {
  display: none;
}

/* cities */
.cities .city {
  background-color: var(--lightdark);
  border-radius: 20px;
  display: flex;
  padding: 20px 30px;
  text-align: left;
  margin-bottom: 10px;
  font-size: 0.6rem;
}

.cities .city img {
  width: 40px;
  height: 40px;
  margin-right: 30px;
}

.cities .city .degrees {
  text-align: right;
  flex: 1 1 auto;
  font-weight: 600;
  font-size: 1rem;
}

.cities .city .description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--lightgray);
}

.cities .city .description .city-name {
  font-weight: 700;
  font-size: 1rem;
  display: flex;
  gap: 20px;
  align-items: baseline;
  color: var(--lightwhite);
}

.cities .city .description i {
  opacity: 0;
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--lightwhite);
}

.main,
.cities {
  background-color: var(--dark);
}

.main > div:first-child {
  height: 45px;
  margin-bottom: 20px;
}

/* cities */
.cities .city {
  background-color: var(--lightdark);
  border-radius: 20px;
  display: flex;
  padding: 20px 30px;
  text-align: left;
  margin-bottom: 10px;
}

.cities .city img {
  width: 40px;
  height: 40px;
  margin-right: 30px;
}

.cities .city .degrees {
  text-align: right;
  flex: 1 1 auto;
  font-weight: 600;
  font-size: 1rem;
}

.cities .city .description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--lightgray);
  font-size: 0.8rem;
}

.cities .city .description .city-name {
  font-weight: 700;
  font-size: 1rem;
  color: var(--lightwhite);
}
