.main,
.cities {
  background-color: var(--dark);
}

.main > div:first-child {
  height: 50px;
  margin-bottom: 20px;
}

/* customizing map and popups on it */
#map {
  background-color: var(--lightdark);
  border-radius: 20px;
  height: calc(100% - 70px);
  overflow: hidden;
}

.leaflet-control {
  border-radius: 10px !important;
  border: 1px solid var(--lightgray) !important;
  overflow: hidden;
}

.leaflet-control-zoom > * {
  background-color: var(--dark) !important;
  color: var(--lightwhite) !important;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background-color: var(--dark) !important;
}

.leaflet-popup-content-wrapper {
  color: var(--lightwhite) !important;
  padding: 10px 20px !important;
  font-size: var(--smallfontsize2);
}

.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.popup * {
  margin: 0 !important;
}

.popup p:first-child {
  text-transform: capitalize;
}

.popup img {
  width: 40px;
  height: 40px;
}

.leaflet-popup-close-button {
  display: none;
}

/* cities */
.cities .city {
  background-color: var(--lightdark);
  display: flex;
  padding: 20px 35px;
  text-align: left;
  margin-bottom: 15px;
  border-radius: 20px;
  font-size: var(--generalfontsize);
}

.cities .city img {
  width: 60px;
  height: 60px;
  margin-right: 35px;
}

.cities .city .description i {
  display: none;
}

.cities .city .degrees {
  text-align: right;
  flex: 1 1 auto;
  font-weight: 600;
  font-size: var(--largefontsize1);
}

.cities .city .description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--lightgray);
}

.cities .city .description .city-name {
  font-weight: 700;
  color: var(--lightwhite);
}

.main > div:first-child {
  height: 45px;
  margin-bottom: 15px;
}

.main,
.cities {
  background-color: var(--dark);
}

@media (max-width: 500px) {
  body {
    padding-bottom: 20px;
  }

  .main {
    padding: 0 5px;
  }

  #map {
    z-index: 0;
    height: 70vh;
  }

  .cities {
    display: none;
  }
}
