:root {
  --measurebg: rgb(48, 57, 75);
}

/* middle section styles */
.middle {
  background-color: var(--dark);
  text-align: left;
}

.middle > div > .header {
  margin-bottom: 10px;
  font-weight: 700;
  padding-left: 10px;
  font-size: var(--largefontsize1);
}

.middle > div {
  margin-bottom: 25px;
}

.middle > div > div,
.aside > div {
  padding: 20px;
  border-radius: 20px;
  background-color: var(--lightdark);
}

.middle > div:first-child {
  padding: 0;
}

input {
  color: var(--lightwhite);
  background-color: var(--lightdark);
  height: 100%;
  border: none;
  width: 100%;
  border-radius: 15px;
  padding-left: 20px;
}

.middle input::placeholder {
  color: var(--lightwhite);
}

/* units styles */
.all-units {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.aspect .header {
  margin-bottom: 7px;
  color: var(--lightgray);
  text-transform: uppercase;
  font-size: var(--smallfontsize1);
  font-weight: 700;
}

.measure {
  background-color: var(--dark);
  display: flex;
  align-items: center;
  border-radius: 10px;
  height: 30px;
  padding: 0 3px;
}

.measure p {
  flex: 1 1 auto;
  font-size: var(--smallfontsize2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.measure.border p {
  border-right: var(--lineborder);
}

.measure p.active {
  border-radius: 7px;
  background-color: var(--measurebg);
  border: none;
  height: 80%;
}

.measure p:last-child {
  border: none !important;
}

.measure.pressure p#index-2 {
  border: none;
}

/* notification styles */
.toggle-parent {
  display: flex;
  justify-content: space-between;
}

.toggle-parent .content {
  font-weight: 500;
  color: var(--lightgray);
}

.toggle-parent .content p:first-child {
  font-weight: 700;
  color: var(--lightwhite);
  margin-bottom: 3px;
  margin-bottom: 10px;
}

.time,
.location {
  padding: 20px 0;
}

.time {
  border-bottom: var(--lineborder);
}

.toggle {
  background-color: var(--lightblue);
  padding: 3px !important;
  width: 35px;
  border-radius: 10px;
  align-self: start;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--lightgray);
}

.toggle-parent.on .toggle {
  justify-content: flex-end;
}

.toggle div {
  height: 11px !important;
  width: 11px !important;
  border-radius: 50%;
  background-color: var(--lightwhite);
}

/* aside styles */
.aside {
  border-radius: 0;
  text-align: left;
  height: fit-content;
  background-color: var(--dark);
  color: var(--lightgray);
  padding-right: 5px;
  margin-top: 60px;
}

.aside > div,
.aside .sign-up {
  padding: 20px 25px;
  margin-bottom: 20px;
}

.advanced > p:first-child {
  color: var(--lightwhite);
  font-size: var(--largefontsize2);
  font-weight: 700;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: var(--lineborder);
}

.aside .header {
  color: var(--lightwhite);
  font-size: var(--largefontsize1);
  font-weight: 700;
}

ul {
  padding-left: 20px;
  margin: 20px 0;
}

.subscribe {
  background-color: var(--measurebg);
  text-align: center;
  padding: 10px 0;
  border-radius: 20px;
  letter-spacing: 1px;
}

.subscribe span {
  color: var(--lightwhite);
  font-size: 1.7rem;
  font-weight: 700;
}

.sign-up {
  background-color: var(--lightdark);
  border-radius: 20px;
}

.sign-up .header {
  padding-bottom: 20px;
  border-bottom: var(--lineborder);
}

.sign-up p:nth-child(2) {
  padding: 20px 0;
}

.sign-up a {
  display: block;
  margin-top: 5px;
  padding: 10px;
  text-align: center;
  font-weight: 700;
  background-color: var(--lightblue);
  border-radius: 15px;
}

@media (max-width: 1024px) {
  .middle .general {
    margin-bottom: 0;
  }
}
