* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark: rgb(10, 15, 25);
  --lightdark: rgb(30, 40, 55);
  --lightwhite: rgb(230, 230, 230);
  --linecolor: rgb(60, 60, 80);
  --lightblue: rgb(0, 110, 230);
  --lightgray: rgb(160, 160, 160);
  --lineborder: var(--linecolor) 1px solid;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border: 7px;
  -webkit-border-radius: 7px;
  background-color: var(-- dark);
}

::-webkit-scrollbar-thumb {
  border: 7px;
  -webkit-border-radius: 7px;
  background-color: var(--lightwhite);
}

body {
  font-size: 0.8rem;
  background-color: var(--dark);
  color: var(--lightwhite);
  padding: 15px 25px 15px 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0.7px;
  display: grid;
  grid-template-columns: 63.5% 35%;
  justify-content: space-between;
  height: 100vh;
  text-align: center;
  width: calc(100vw - 100px);
  margin-left: auto;
  overflow: auto;
}

body > * {
  background-color: var(--lightdark);
  border-radius: 20px;
}

body > section:last-child {
  height: calc(100% - 55px);
  align-self: end;
}

img {
  width: 30px;
  height: 30px;
}

i {
  color: var(--lightgray);
}

a {
  color: var(--lightwhite);
  text-decoration: none;
}

/* sidebar nav */
.side-nav {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  gap: 30px;
  align-items: center;
  color: var(--lightgray);
  font-size: 0.6rem;
  font-weight: 700;
  position: fixed;
  width: 80px;
  top: 15px;
  bottom: 15px;
  left: 20px;
}

.side-nav .active,
.side-nav .active i {
  color: var(--lightwhite);
}

.side-nav i {
  font-size: 0.8rem;
}

.side-nav div:first-child {
  margin-bottom: 30px;
}

.side-nav div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.side-nav img {
  transform: rotate(10deg);
}

input {
  color: var(--lightwhite);
  background-color: var(--lightdark);
  height: 100%;
  border: none;
  width: 100%;
  border-radius: 15px;
  padding-left: 20px;
}

.main input::placeholder {
  color: var(--lightwhite);
}

/* media queries */
@media (max-width: 500px) {
  body {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0;
    padding: 15px;
    padding-bottom: 100px;
    overflow-x: hidden;
    font-size: 1rem;
  }

  body > section:last-child {
    height: auto;
    align-self: stretch;
  }

  .side-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: auto;
    width: 100vw;
    padding: 17px 0;
    position: fixed;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0;
    z-index: 1;
    box-shadow: 0 -0.1px 10px var(--dark);
  }

  .side-nav i {
    font-size: 1.4rem;
  }

  .side-nav div:first-child {
    margin-bottom: 0;
  }

  a[href="settings.html"] {
    border: 1px solid green;
  }
}
