* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark: rgb(10, 15, 25);
  --lightdark: rgb(30, 40, 55);
  --lightwhite: rgb(240, 240, 240);
  --linecolor: rgb(60, 60, 80);
  --lightblue: rgb(0, 110, 230);
  --lightgray: rgb(160, 160, 160);
  --lineborder: var(--linecolor) 1px solid;
  --smallfontsize1: 0.6rem;
  --smallfontsize2: 0.7rem;
  --smallfontsize3: 0.8rem;
  --generalfontsize: 0.9rem;
  --largefontsize1: 1.1rem;
  --largefontsize2: 1.4rem;
  --largefontsize3: 1.9rem;
  --largefontsize4: 1.6rem;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border: 7px;
  -webkit-border-radius: 7px;
  background-color: var(-- dark);
}

::-webkit-scrollbar-thumb {
  border: 7px;
  -webkit-border-radius: 7px;
  background-color: var(--lightwhite);
}

img {
  width: 35px;
  height: 35px;
}

i {
  color: var(--lightgray);
}

a {
  color: var(--lightwhite);
  text-decoration: none;
}

body {
  font-size: var(--generalfontsize);
  background-color: var(--dark);
  color: var(--lightwhite);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  padding: 15px !important;
  min-height: 100vh;
  display: flex;
  gap: 15px;
  position: relative;
}

body main > section,
.side-nav {
  background-color: var(--lightdark);
  border-radius: 20px;
}

/* main box (exlcuding navbar) */
body main {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: 1fr clamp(350px, 37%, 550px);
  gap: 15px;
}

body main section.right-most-box {
  height: calc(100% - 60px);
  align-self: end;
}

/* sidebar nav */
.side-nav {
  width: 90px;
  height: 95vh;
  top: 10px;
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  gap: 50px;
  align-items: center;
  font-size: var(--smallfontsize3);
  font-weight: 700;
  position: sticky;
  top: 15px;
  transform: translateY(2px);
}

.side-nav .nav-item {
  position: relative;
  padding-top: 18px;
}

.side-nav .active a,
.side-nav .active i {
  color: var(--lightwhite);
}

.side-nav i {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  font-size: var(--generalfontsize);
}

.side-nav a {
  color: var(--lightgray);
}

.side-nav .logo {
  margin-bottom: 30px;
}

.side-nav div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.side-nav img {
  transform: rotate(10deg);
}

.search-container {
  height: 50px;
}

input {
  color: var(--lightwhite);
  background-color: var(--lightdark);
  height: 100%;
  border: none;
  width: 100%;
  border-radius: 15px;
  padding-left: 20px;
  font-size: var(--generalfontsize);
}

.main input::placeholder {
  color: var(--lightwhite);
}

/* current city styles */
.current-city {
  padding: 0 20px;
  padding-left: 40px;
  display: grid;
  gap: 2px;
  grid-template-areas: "city image" "degrees image";
}

.current-city > * {
  display: flex;
  align-items: center;
}

.current-city .city {
  grid-area: city;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.current-city .cityname {
  font-size: var(--largefontsize2);
  font-weight: 700;
  color: var(--lightwhite);
  text-transform: capitalize;
}

.current-city .city p:last-child {
  font-size: var(--largefontsize1);
  color: var(--lightgray);
  letter-spacing: 0.05px;
}

.current-city .degrees {
  grid-area: degrees;
  justify-content: flex-start;
  font-size: var(--largefontsize3);
  font-weight: 700;
  color: var(--lightwhite);
}

.current-city .image {
  grid-area: image;
  justify-content: center;
}

.current-city img {
  width: 120px;
  height: 120px;
}

/* current day forecast styles */
.today-forecast {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  gap: 15px;
  text-align: left;
  color: var(--lightgray);
  font-weight: 700;
  font-size: var(--smallfontsize2);
  border-radius: 15px;
  background-color: var(--lightdark);
  letter-spacing: normal;
}

.today-forecast .header {
  padding-left: 20px;
}

.today-forecast .degrees {
  color: var(--lightwhite);
  font-size: var(--largefontsize1);
}

.today-forecast .time-sections {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.today-forecast .time-sections .section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  border-right: 1px solid var(--linecolor);
}

.today-forecast .time-sections .section:last-child {
  border-right: none;
}

/* week-forecast styles */
.week-forecast {
  padding: 25px 30px 10px;
  text-align: left;
  color: var(--lightgray);
  display: flex;
  flex-direction: column;
  font-size: var(--smallfontsize3);
  border-radius: 15px;
  background-color: var(--lightdark);
}

.week-forecast .header {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: var(--smallfontsize2);
}

.week-forecast .day {
  display: grid;
  grid-template-columns: repeat(3, calc(100% / 3));
  justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;
  border-bottom: var(--lineborder);
}

.week-forecast .day:last-child {
  border: none;
}

.week-forecast .day .weather {
  display: flex;
  gap: 10px;
  align-items: center;
}

.week-forecast .day .weather,
.week-forecast .day span {
  color: var(--lightwhite);
  font-weight: 700;
}

.week-forecast .day > p:last-child {
  text-align: right;
  letter-spacing: 0.08rem;
}

/* Loader styles */
#loader {
  position: fixed;
  inset: 0;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loader .loading-text {
  font-size: var(--largefontsize2);
  font-weight: bold;
}

#loader .dots::after {
  content: "";
  display: inline-block;
  width: 1em;
  text-align: left;
  animation: dots 1.5s steps(4, end) infinite;
}

@keyframes dots {
  0%,
  20% {
    content: "";
  }
  40% {
    content: ".";
  }
  60% {
    content: "..";
  }
  80%,
  100% {
    content: "...";
  }
}

@media (max-width: 1024px) {
  body main section.right-most-box {
    height: fit-content;
    align-self: self-start;
  }

  main {
    grid-template-columns: 1fr !important;
  }

  .current-city {
    margin: 20px 0;
  }
}

@media (max-width: 768px) {
  img {
    width: 30px;
    height: 30px;
  }

  body {
    flex-direction: column;
    padding-bottom: 100px !important;
  }

  body main {
    grid-template-columns: 1fr;
  }

  .side-nav {
    all: revert;
    background-color: var(--lightdark);
    padding: 20px 10px;

    position: fixed;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    box-shadow: 0 -5px 20px var(--dark);
    border-radius: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;

    height: auto;
    width: 100%;
  }

  .side-nav .logo {
    display: none;
  }

  .side-nav i {
    font-size: var(--largefontsize2);
  }

  .side-nav .nav-item p {
    display: none;
  }

  img {
    width: 30px;
    height: 30px;
  }

  .current-city {
    margin: 0;
  }

  .current-city img {
    width: 120px;
    height: 120px;
  }

  .current-city {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
  }

  .current-city .city {
    align-items: center;
    gap: 10px;
  }
}
