* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark: rgb(10, 15, 25);
  --lightdark: rgb(30, 40, 50);
  --lightwhite: rgb(230, 230, 230);
  --darkbluelinecolor: rgb(60, 60, 80);
  --lightblue: rgb(100, 120, 255);
  --lightgray: rgb(160, 160, 160);
}

body {
  font-size: 0.8rem;
  background-color: var(--dark);
  color: var(--lightwhite);
  padding: 15px 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0.7px;
  display: grid;
  grid-template-columns: 80px 61% 30%;
  justify-content: space-between;
  height: 100vh;
  text-align: center;
}

body > * {
  background-color: var(--lightdark);
  border-radius: 20px;
}

img {
  width: 30px;
  height: 30px;
}

i {
  color: var(--lightgray);
}

a {
  color: var(--lightwhite);
  text-decoration: none;
}

/* sidebar nav */
.side-nav {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  gap: 30px;
  align-items: center;
  color: var(--lightgray);
  font-size: 0.6rem;
  font-weight: 700;
}

.side-nav .active,
.side-nav .active i {
  color: var(--lightwhite);
}

.side-nav i {
  font-size: 0.8rem;
}

.side-nav div:first-child {
  margin-bottom: 30px;
}

.side-nav div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.side-nav img {
  transform: rotate(10deg);
}
