body {
  background-color: var(--dark);
  color: var(--lightwhite);
  padding: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

aside {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-radius: 30px;
  background-color: var(--lightdark);
}

aside img {
  width: 300px;
  height: 300px;
}

body main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  font-weight: 600;
  color: var(--lightgray);
  background-color: var(--dark);
}

main .large {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--lightwhite);
}

main img {
  width: 60px;
  height: 60px;
}

.anchor {
  padding: 10px 20px;
  color: var(--lightwhite);
  background-color: var(--lightblue);
  border-radius: 15px;
  font-size: var(--generalfontsize);
  letter-spacing: 0.1rem;
  font-weight: 700;
}

img {
  transform: rotate(10deg);
}

/* responsive design */
@media (max-width: 768px) {
  body {
    font-size: 1.2rem;
    padding-bottom: 40px !important;
  }

  body main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    color: var(--lightgray);
    padding: 10vh 0 15vh;
  }

  main .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  img {
    width: 100px !important;
    height: 100px !important;
  }

  i {
    color: rgb(250, 250, 250);
  }

  .anchor {
    width: 50px;
    height: 50px;
    font-size: var(--largefontsize2);
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lightblue);
    border-radius: 50%;
  }
}
